
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: URLs</title>
</head>
<body>
    <header>
    <%- include partials/_header.ejs %>
    </header>
    <br>
      <a href="/urls/new">Create New TinyURL</a>
  <br>
  <ul>
    <%for(let keys in urls){%>
    <li><%= keys %>: <%= urls[keys] %></li>
    <form method = "POST" action="/urls/<%= keys %>/delete">
      <input type="submit" value="Delete">
      <input type="submit" value="Edit" action="/urls/${shortURL}">
  </form>
  <%}%>
  </ul>

</body>
</html>


