<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <% include partials/_header.ejs %> 
    </header>
    <br>

    The shortURL <b><a ref="/u/<%= shortURL %>"><%= shortURL %></a></b> 
    <form action ="/urls/<%= shortURL %>" method= "POST">
        <input class="form-control" type="text" name="longURL" placeholder= "<%=shortURL%> " style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary"><a href="/urls/"> Update</a> </button>
    </form>
    <p>View URLs on the <a href='/urls'>database</a></p>
    <p>Shorten a new <a href='/urls/new'>URL</a></p>
</body>
</html>
